<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Room</title>
</head>
<body>
    <h1 data-slug={{game_slug}}>Game: {{ game_slug }}</h1>
    <h2>Players</h2>
    <ul class="players">
        {% for player in players %}
        <li>{{ player }}</li>
        {% endfor %}
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js" crossorigin="anonymous"></script>
    <script>
        function generatePlayerName() {
            return `player-${Math.random()}`;
        }

        let socket = io();
        let game_slug = document.querySelector("h1").dataset["slug"];
        let joinMessage = {
                "player": generatePlayerName(),
                "game_slug": game_slug 
            }

        socket.emit('join', JSON.stringify(joinMessage));

        socket.on('joined', function(msg) {
            console.log("joined", msg)
            let data = JSON.parse(msg);
            data.players.forEach(p => {
                let newItem = document.createElement("li");
                newItem.innerText = p;
                document.querySelector(".players").appendChild(newItem);
            });
        });
    </script>
</body>
</html>